@font-face {
  font-family: 'Magilio';
  src: url('./assets/Magilio.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Magilio', serif;
  margin: 0;
  background: #fff8f0;
  color: #222;
}
